language: node_js
node_js: node
cache: npm
before_deploy:
  - npm install -g now
  - yarn run build
  - rm ./build/static/css/main.*.css.map
  - rm ./build/static/js/main.*.js.map
deploy:
  provider: script
  script: yarn run deploy
  skip_cleanup: true
  on:
    repo: abandisch/gymmie
