.exercise-box {
  margin: 0 0 20px;
}
.exercise-box h3 {
  margin: 0;
  text-align: center;
  font-size: 5vw;
  background-color: #1e7ca7;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: #fff;
}