@media screen and (min-width: 480px) {
  nav .btn-navigation {
    top: 125px;
  }
}

@media screen and (min-width: 776px) {
  nav .btn-navigation {
    top: 230px;
    left: 30px;
  }
  nav .btn-navigation > div > svg {
    height: 35px !important;
    width: 35px !important;
  }
}

@media screen and (min-width: 992px) {
  nav .btn-navigation {
    left: 130px;
  }
}

@media screen and (min-width: 1200px) {
  nav .btn-navigation {
    left: 15%;
  }
}
