@media screen and (min-width: 480px) {
  header {
    height: 120px;
    background-image: url('/static-assets/images/header-bg-480.jpg');
  }
  header h1 {
    line-height: 55px;
  }
  header img {
    width: 35px;
  }
}

@media screen and (min-width: 776px) {
  header {
    height: 195px;
    background-image: url('/static-assets/images/header-bg-776.jpg');
  }
  header h1 {
    font-size: 2.5em;
    line-height: 0;
    padding-top: 60px;
  }
  header span {
    font-size: 1.5em;
    margin-top: 10px;
  }
  header img {
    width: 40px;
  }
}