/* General Styles */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.container {
  max-width: 960px;
}

/* sections */
section {
  padding: 0 15px;
}

.section-title {
  text-align: center;
  font-size: 5.5vw;
}

/* Sticky Footer */
.page-wrapper {
  min-height: calc(100vh - 92px);
}

/* Form fields */
.btn, .btn-block {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.7em;
  font-size: 1em;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*Chrom autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}